<P><%= @users.id%></P>
<P><%= @users.title%></P>
<P><%= @users.body%></P>
<P><%= @users.created_at%></P>
<a href="/users/destroy/<%= @users.id%>">삭제하기</a>
<a href="/users/edit/<%= @users.id%>">수정하기</a>